<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

@helper TreeView(IEnumerable<MarkdownCms.Models.DirectoryNode> folders)
{
    foreach (var folder in folders)
    {
        <li class="menuList">
            @if (folder.IsFile)
            {
                <span class="file" id="@folder.Path">
                    <img src="@Url.Content("~/Content/fileIcon.png")" width="15" height="15" alt="Image" />
                    <a href="@folder.GetPathForUrl()">@folder.Name</a>
                </span>
            }
            else
            {
                if (folder.Subfolders.Count != 0)
                {
                    <span class="folder">
                        <img src="@Url.Content("~/Content/folderIcon.png")" width="15" height="15" alt="Image" />
                        <span>@folder.Name</span>
                    </span>
                    if (folder.Subfolders.Count != 0)
                    {
                        <ul>
                            @TreeView(folder.Subfolders)
                        </ul>
                    }
                }
            }
        </li>
    }
}

<body>
    <div class="col-md-3">
        <div class="navbar navbar-inverse">
            <span class="navbar-text">MENU</span>
        </div>
        <ul class="menuList">
            @TreeView(ViewBag.Nodes)
        </ul>
    </div>
    <div class="col-md-9 container body-content">
        @RenderBody()
    </div>
    <div class="col-md-12">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Markdown CMS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>